/* GENERAL STYLING  */

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 500;
  src: url("./assets/fonts/Poppins-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 700;
  src: url("./assets/fonts/Poppins-BoldItalic.ttf") format("truetype");
}

/* The rest of your existing styles below */
body {
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow: hidden;      */ /* prevents vertical scroll to appear */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* END OF GENERAL STYLING  */



.btn-transparent:hover {
  background-color: #2c3e50;
  color: #fff;
}


/* STYLING FOR RESPONSIVE CHARTS */

@media (max-width: 600px) {
  .chart-container {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media (min-width: 601px) {
  .chart-container {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
/* responsive horizontal bar chart */
@media (max-width: 576px) {
  .h-sm-75,
  .w-sm-75 {
    height: 75% !important;
    width: 75% !important;
  }
}
/* responsive doughnut chart*/

/* @media (max-width: 320px) {
  .h-sm-90,
  .w-sm-90 {
    max-width: 90% !important;
  }
} */


/* END OF STYLING FOR RESPONSIVE CHARTS */


/* SET UP THE ORDER IN WHICH ELEMENTS ARE GENERATED IN MOBILE VIEW */

@media (min-width: 768px) {
.mobile-only {
  display: none;
}
}

@media (min-width: 577px) and (max-width: 767px){
.medium-only {
    display: none;
}
}



@media (max-width: 767px) {
  .medium-and-larger-screens-only {
    display: none;
  }
  }

  @media (min-width: 768px) {
    .medium-and-larger-screens-only {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    }
  

/* END OF SETTING UP THE ORDER IN WHICH ELEMENTS ARE GENERATED IN MOBILE VIEW */


/* RESPONSIVE LEGEND ICONS */

@media (min-width: 1200px) {
  .legend-icons {
    min-width: 35px;
    height: 100%;
  }
}

@media (max-width: 1199px) {
  .legend-icons {
    height: 100%;
    width: 35px;
  }
}

/* END OF RESPONSIVE LEGEND ICONS */




/* ANIMATIONS - NOT COVERED BY FRAMER MOTION */


.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

/* END OF ANIMATIONS - NOT COVERED BY FRAMER MOTION */



/* RESPONSIVE LOGO ON TOP OF THE DASHBOARD */

/* @media (min-width: 1200px) {
  .legend-icons {
    min-width: 35px;
    height: 100%;
  }
} */

@media (max-width: 2000px) {
  .logo {
    max-height: 35px;
  }
}

/* END OF RESPONSIVE LOGO ON TOP OF THE DASHBOARD */


/*  COLORS OF THE ICONS ON THE LEAFLET MAP AND IN THE LEGEND*/

 /* class "cls-2" controls the left side background of the tree icons */

.legend-icons .blue svg .cls-2 {
  fill: #79E0EE;
}

.legend-icons .transparent svg .cls-2 {
  fill: transparent;
}

.legend-icons .green-left svg .cls-2 {
  fill: rgb(25, 135, 84);
}

.legend-icons .yellow-left svg .cls-2 {
  fill: #FDFF00;
}

.legend-icons .red-left svg .cls-2 {
  fill: red;
}

 /* class "cls-1" controls the left side background of the tree icons */


 .legend-icons .green-right svg .cls-1 {
  fill: rgb(25, 135, 84);
}

.legend-icons .yellow-right svg .cls-1 {
  fill: #FDFF00;
}

.legend-icons .red-right svg .cls-1 {
  fill: red;
}


.blurred-icon {
  filter: blur(2px);
  opacity: 1;
}


/*  END OF COLORS OF THE ICONS ON THE LEAFLET MAP AND IN THE LEGEND*/
